@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.introduce::before {
  --size: clamp(2.9rem, 4.5vw + 1rem, 10rem);
  --line: hsl(0 0% 0% / 0.15);
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
  mask: linear-gradient(-15deg, transparent 30%, white);
  top: 0;
  transform-style: flat;
  z-index: -10;
}

h1 {
  font-weight: 800;
  font-size: clamp(3rem, 4.5vw + 1rem, 10rem);
  margin: 0;
  width: 20ch;
  max-width: 100vw;
  text-align: center;
}

h2 {
  font-weight: 800;
  font-size: clamp(2.5rem, 3.5vw + 1rem, 8rem);
}

h3 {
  font-weight: 700;
  font-size: clamp(2rem, 2.5vw + 1rem, 6rem);
}

h4 {
  font-weight: 550;
  font-size: clamp(1.5rem, 2vw + 1rem, 4rem);
}

h5 {
  font-weight: 550;
  font-size: clamp(1.2rem, 1.5vw + 1rem, 2rem);
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1;
}

.hidden-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.z-3 {
  z-index: 3;
}

.clip-path-50 {
  clip-path: inset(50% 0 0 0);
}

.img-wrapper > div {
  height: 100%;
}

.full {
  width: 100%;
  height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400&display=swap");
h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-wrap {
  display: grid;
  gap: 0.5rem;
  max-width: 65%;
}
